body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./Assests/arthurs-place-dive-resort.jpg');
    background-size: cover;
    background-position: center;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.wrapper{
    display: flex;
    flex-direction: column;
    width: 420px;
    color: #fff;
    background: transparent;
    border: 2px solid rgba(255,255,255, .2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    min-height: 70vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    padding: 30px 40px;
}
.wrapper h1{
    font-size: 50px;
    text-align: center;
}
.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 350px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding-left: 25px;
    padding-right: 35px;
}
.input-box input::placeholder{
    color: #fff;
}
.input-box i{
    position: absolute;
    left: 920px;
    top: 330px;
    transform: translateY(-50%);
    font-size: 20px;
}
.input-box i.password-icon{
    top: 440px;
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    padding-bottom: 23px;
}
.remember-forgot .a{
    accent-color: #fff;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 400px;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer; 
    color: rgba(0, 51, 102);
    font-weight: 600;
}
.wrapper .btn:hover{
    background: rgba(0, 51, 102);
    color: #fff;
}
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}
.register-link p a:hover{
    text-decoration: underline;
}